@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
    padding:0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100vw;
}
.page-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: clamp(75px, 20%, 100px) 1fr 1fr/  clamp(250px, 20%, 300px) 1fr 1fr;
    grid-template-areas: "side-bar header header"
                         "side-bar main-content main-content"
                         "side-bar main-content main-content";
}

.side-bar{
    background-color: #1992d4;
    grid-area: side-bar;
    display: flex;
    flex-direction: column;
    
}

.page-title{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    font-family:'Roboto', sans-serif, 'Karla', sans-serif;
    font-size: 40px;
}

.page-icon {
    width: 50px;
    height: 50px;
}

.side-icon {
    padding-right: 5px;
}

.side-button{
    padding: 10px;
    padding-left: 3rem;
    margin: 5px;
    font-family: 'Roboto', sans-serif, 'Karla', sans-serif;
    font-size: 24px;
}

.side-bar-gap {
    padding: 1rem;
    margin: 5px;
    font-size: 24px;
}

.header {
    background-color: #ffffff;
    grid-area: header;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.main-content {
    background-color: #e2e8f0;
    grid-area: main-content;
}

